            @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
            body {
                font-family: 'Montserrat', sans-serif;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    padding: 0px;
                    margin: 0px;
                }
                p {
                    padding: 0px;
                    margin: 0px;
                }
            }
            
            #banner {
                background-position: center center !important;
                background-size: cover !important;
                background-repeat: no-repeat !important;
                background-attachment: fixed !important;
                height: 100vh;
                position: relative;
                &::before {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    background-color: rgba(0, 0, 0, 0.288);
                    content: '';
                }
                .wrapper {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .brand {
                        img {
                            width: 150px;
                            height: 150px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                }
                .h1 {
                    font-size: 70px;
                    font-weight: 900;
                    color: #FFFFFF;
                }
            }
            
            #bottom-ribbon {
                padding: 20px;
                background-color: #486092;
                .row {
                    align-items: center;
                }
                p {
                    text-align: center;
                    color: #fff;
                    a {
                        color: #fff;
                    }
                }
                .r-link {
                    margin: 0px;
                    padding: 0px;
                    .ph {
                        font-size: 24px;
                        color: #ffff;
                    }
                    li {
                        list-style: none;
                        display: inline-block;
                        a {
                            i {
                                padding: 20px;
                                color: #000;
                                background-color: #FFFFFF;
                            }
                        }
                    }
                }
                .text-end {
                    color: #fff;
                }
            }
            
            @media only screen and (max-width: 600px) {
                #banner {
                    .h1 {
                        font-size: 30px;
                    }
                }
                #bottom-ribbon {
                    text-align: center;
                    .r-link {
                        margin-bottom: 20px;
                        float: none !important;
                    }
                }
            }
            
            // #loan-sec {
            //     padding: 85px 0;
            //     .loan-sec-wrapper {
            //         // box-shadow: 1px 0 8px #ddd;
            //         border: 1px solid #eaeaea;
            //         padding: 15px;
            //         height: 100%;
            //         img {
            //             width: 80px;
            //             height: 80px;
            //             object-fit: cover;
            //         }
            //         &:hover {
            //             // box-shadow: 1px 0 16px #eaeaea;
            //             box-shadow: 0px 16px 24px #eaeaea;
            //             border-color: transparent;
            //         }
            //         a {
            //             text-decoration: none;
            //         }
            //         h6 {
            //             color: #000;
            //             display: inline-block;
            //         }
            //     }
            // }
            // #preloader {
            //     .loader-all {
            //         position: absolute;
            //         top: 50%;
            //         left: 50%;
            //         transform: translate(-50%, -50%);
            //         img {
            //             animation: loader infinite 5s linear;
            //             @keyframes loader {
            //                 0% {
            //                     transform: scale(0);
            //                 }
            //                 100% {
            //                     transform: scale(1);
            //                 }
            //             }
            //         }
            //     }
            // }
            #index-bg {
                overflow: hidden;
                .left {
                    background-position: bottom left !important;
                    background-repeat: no-repeat !important;
                    height: 100vh;
                    .brand {
                        padding: 40px;
                    }
                }
                .right {
                    background-position: top right !important;
                    background-repeat: no-repeat !important;
                    height: 100vh;
                }
                .middle {
                    .detail {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        h1 {
                            font-size: 56px !important;
                            padding: 20px 0;
                        }
                    }
                }
            }